
*{
	margin: 0;
	padding: 0;
}

section{
    width: 100%;
}

a{
	text-decoration: none;
    color: #585858;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.img200{
  width: 200px;
}

.img300{
  width: 300px;
}
a:hover{
    text-decoration: none;
    color: #585858;
    
}

a:link{
    text-decoration: none;
    color: none;
}

li{
	list-style: none;
}

img{
    pointer-events: none;
}


body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
}



.t0:hover ,
.t1:hover ,
.t2:hover ,
.t3:hover ,
.t4:hover ,
.t5:hover ,
.t6:hover
{
    border-radius: 25px;
    background-color: azure;
}

.t7:hover ,
.t8:hover ,
.t9:hover ,
.t10:hover ,
.t11:hover ,
.t12:hover ,
.t13:hover
{
    border-radius: 25px;
    background-color: #ffefdb;
}



.info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #585858;
    margin: 0 auto;
    margin-top: 75px;
}

.info h1{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.info h2{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.info p{
    margin-top: 20px;
    font-size: 2vw;
}

dl{
    margin-left: 10px;
}

dt{
    font-size: 2vw;
    margin-top: 15px;
}

dd{
    font-size: 1vw;
    margin-top: 5px;
}

img{
    margin-top: 10px;
    width: 50%;
}









 
html {
    box-sizing: border-box;
    height: 100%;
  }
   
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
   
  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    height: 100%;
  }
   
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }

  .container_nav {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }
   
  .navbar {
    position: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: rgba(157, 115, 255, 0.3);
    color: #585858;;
  }
   
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
   
  .hamb {
    display: none;
  }
   
  .popup {
    display: none;
  }
   
  .logo {
    text-decoration: none;
    color: #585858;;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
   
  .menu > li > a {
    text-decoration: none;
  }

   
  .navbar__wrap .menu {
    display: flex;
  }
   
  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }
   
  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #585858;;
  }
   
  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }



  @media (max-width: 1000px) {
    .navbar__wrap .menu {
      display: none;
    }
   
    .hamb {
      display: flex;
      align-items: center;
    }
   
    .hamb__field {
      padding: 10px 20px;
      cursor: pointer;
    }
   
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 6px auto;
      background-color: #fff;
      transition: 0.2s;
    }
   
    .popup {
      position: fixed;
      top: 75px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }
   
    .popup.open {
      left: 0;
    }
   
    .popup .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
    }
   
    .popup .menu > li {
      width: 100%;
    }
   
    .popup .menu > li > a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }
   
    .popup .menu > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    }
   
    .hamb__field.active .bar:nth-child(2) {
      opacity: 0;
    }
   
    .hamb__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
   
    .hamb__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
   
    body.noscroll {
      overflow: hidden;
    }
  }




@media (max-width: 787px){
  .info{
    margin-top: 10px;
  }
  .info h1{
    font-size: 5vw;
  }
  .info p{
    font-size: 3vw;
  }

  dt{
    font-size: 3vw;
  }
  dd{
    font-size: 2.2vw;
  }
}

@media (max-width: 501px){
  .img200{
    width: 150px;
  }
  .img300{
    width: 250px;
  }

  .info h1{
    font-size: 6.5vw;
  }
  .info p{
    font-size: 4vw;
    text-align: center;
  }

  dt{
    font-size: 4vw;
    line-height: 2;
  }
  dd{
    font-size: 2.9vw;
  }
  .logo{
    font-size: 15px;
  }
}