body{
    font-family: 'Russo One', sans-serif;
    overflow: hidden;
    color: #585858;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    background-image: url(../Image/start/Reg.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 80%;
    @media (max-width: 501px){
        background-size: cover;
        background-position: 0%;
    }   
    justify-content: center;
}

.container{
    max-width: 1202px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 1200px){
        max-width: 978px;
    }
    @media (max-width: 992px){
        max-width: 768px;
    }
    @media (max-width: 787px){
        max-width: 680px;

    }
    @media (max-width: 501px){
        max-width: 500px;
    }
}

.container > .form{
}

.header{
    h1{
        font-size: 50px;
    }
}

.form{
    display: flex;
    align-items: center;

    &__login{
        margin-bottom: 100px;
    }
}