
/*Переменные*/
// для Decstop 1920
$imgSizeOne: 500px;
$imgSizeTwo: 350px;
/*---------------------*/

body{
    font-family: 'Russo One', sans-serif;
    overflow: hidden;
    color: #585858;
}


.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    background-image: url(../Image/start/Web_SVG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 70%;
    @media (max-width: 501px){
        background-size: cover;
        background-position: 0%;
    }   
    align-items: center;//проверить если что
}

.container{
    max-width: 1202px;
    margin: 5vh auto;
    @media (max-width: 1200px){
        max-width: 978px;
    }
    @media (max-width: 992px){
        max-width: 768px;
    }
    @media (max-width: 787px){
        max-width: 680px;

    }
    @media (max-width: 501px){
        max-width: 500px;
    }
}


.block {
    &__textbtn {
        flex: 1 0 100px;
    }

    &__text {
        text-align: center;
        h1{
            font-size: 5vw;
            font-weight: lighter;
            margin-top: 5vw;
            @media (max-width: 787px){
                margin-top: 10vw;
                font-size: 70px;
            }
            @media (max-width: 501px){
                font-size: 40px;
            }
        }
        h2{
            font-size: 2vw;
            font-weight: lighter;
            line-height: 50px;
            @media (max-width: 787px){
                margin-top: 20px;
                margin-bottom: 150px;
                font-size: 40px;
                font-weight: 100;
            }    
            @media (max-width: 501px){
                font-size: 20px;
            }   
        }
        
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btnOne {
        display: inline-block;
        text-align: center;
        line-height: 60px;
        width: 300px;
        height: 70px;
        font-size: 25px;
        border: 5px solid #9C73FF;
        background: rgba(157, 115, 255, 0.3);
        border-radius: 100px;
        margin-top: 50px;
        &:hover{
            background-color: #9C73FF;
        }
        @media (max-width: 501px){
            background: rgba(157, 115, 255, 0.5);
        }
    }
}

/*
@media (max-width: 1200px){
    .container{
        max-width: 978px;
    }

@media (max-width: 992px){
    .container{
        max-width: 668px;
    }
}

@media (max-width: 787px){

}

@media (max-width: 501px){

}*/